{{> head}}


{{> navbar}}


<div class="row">

    <div class="col-8">
        <h1>
            {{capitalizar "Acerca de la pagina" }} GMD
        </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia dolorum tempora iste aliquam fugit vero
            nobis optio praesentium quae ab facere assumenda mollitia suscipit possimus quibusdam sapiente, ex corrupti
            sint!</p>
    </div>

    <div class="col-4">

        <img src="./assets/img/img.jpeg" class="img-thumbnail">
    </div>



</div>



{{> footer}}